.bd-notification {
    background-color: #f5f5f5;
    border-radius: 0.375em;
    color: #7a7a7a;
    font-weight: 600;
    padding: 1.25rem 0;
    position: relative;
    text-align: center;
}

.bd-notification.is-primary {
    background-color: #00d1b2;
    color: #fff;
}

section.boxes {
    padding-top: 15px;
}

.dropdown-block{
    display: block !important;
}


.is-box {
    width: 100% !important;
    height: 100px;
    background-color: burlywood !important;
    /* background-image: url('../img/cartoon.jpg'); */
    margin: 15px 10px 0px 10px;
}

.is-wall {
    background-color: darkgrey !important;
    width: 10px !important;
}

.is-shelf {
    display: flex;
    padding: 10px 10px 10px 10px;
}

.is-overlap {
    background-color: darkgrey;
    height: 20px;
}

.is-main-container {
    padding: 0 0 0 0;
}